<div>         
    {{test}}
    <table>   
        <tr>
            <th ng-repeat="x in header">    
                {{x.name}}
            </th>
        </tr>         
        <tr ng-repeat="row in allRows">
            <td ng-repeat="val in row track by $index">                                
                <div ng-if="isImg(val)">                    
                    <img src="{{val}}" alt="{{val}}">
                </div>
                <div ng-if="!isImg(val)">                    
                    {{val}}
                </div>                
            </td>
        </tr>
    </table>
</div>